@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,900);

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
}

div h1 {
  font-family: 'Source Sans Pro', sans-serif;
	font-size: 2em;
  font-weight: 900;
	text-align: center;
>>>>>>> Stashed changes
}

#login {
	text-align: right;
}

#logo {
	text-align: center;
}

#search {
	margin-left: auto;
	margin-right: auto;
<<<<<<< Updated upstream
	text-align: center;
=======
>>>>>>> Stashed changes
	width: 600px;
}

#submit {
	background-color: #330A6D;
<<<<<<< Updated upstream
	color: white;
}

form input {
	width: 520px;
