<!-- 
<div class="wrapper">
  <thead>
      <tr>Search Results for: {{search}}</tr>
  </thead>
  <tbody>
      <tr ng-repeat="department in departments | filter:search">
          <td>{{department.title}}</td>
      </tr>
      <tr ng-repeat="class in department.classes">
          <td>{{class.title}}</td>
      </tr>
  </tbody> -->

<div class="wrapper tc">
      <h1 id="logo">welp</h1>
      <form role="form">

          <div class="form-group grid">
            <fieldset>
              <p class="grid-item xs-11/12">
                <input type="text" class= "form-input" name="search" placeholder="For example – CHEM 142" ng-model="search" >
              </p>
              <p class="grid-item xs-1/12">
                <button id="submit" type="submit" class="btn btn-primary">Search</button>
              </p>

            </fieldset>

          </div>
      </form>


      <div class="category" ng-repeat="department in departments | filter: search" ng-show="search">
          <a href="templates/review.html"><h3>{{department.title}}</h3></a>

      <div class="category" ng-repeat="category in categories">
          <a href="templates/review.html"><h3>{{category}}</h3></a>
      </div>

</div>
