<!-- 
<div class="wrapper">
  <thead>
      <tr>Search Results for: {{search}}</tr>
  </thead>
  <tbody>
      <tr ng-repeat="department in departments | filter:search">
          <td>{{department.title}}</td>
      </tr>
      <tr ng-repeat="class in department.classes">
          <td>{{class.title}}</td>
      </tr>
  </tbody> -->

<div class="wrapper tc">
      <h1 id="logo">welp</h1>
      <form role="form">

          <div class="form-group grid">
            <fieldset>
              <p class="grid-item xs-11/12">
                <input type="text" class= "form-input" name="search" placeholder="For example – CHEM 142" ng-model="search" >
              </p>
              <p class="grid-item xs-1/12">
                <button id="submit" type="submit" class="btn btn-primary">Search</button>
              </p>

            </fieldset>

          </div>
      </form>
      <ul>
          <li ng-repeat="department in departments | filter: search" ng-show="search">

             <span ng-click="clicked ? clicked = false : clicked = true" class="pointer"> <i class="fa fa-caret-right" ng-show="!clicked && department.classes"></i><i class="fa fa-caret-down" ng-show="clicked && department.classes"></i> {{department.title}}</span>

              <a ui-sref="createClass({'department': department})" id="add">+</a>

              <br>

              <ul ng-show="clicked">
                  <li ng-repeat="class in department.classes"><a ui-sref="reviewClass({'class': class})">{{class.classTitle + ' ' + class.courseNumber}}</a></li>
              </ul>

          </li>
      </ul>

<!-- 
      <div class="category" ng-repeat="department in departments | filter: search" ng-show="search">
          <a href="templates/review.html"><h3>{{department.title}}</h3></a>
      </div>
      <div class="category" ng-repeat="class in department.classes">
          <a href="templates/review.html"><h3>{{class.classTitle}}</h3></a>
      </div> -->

</div>
