<div class="wrapper">
	<h1>{{class.classTitle}}</h1>
	<p class="class-des">{{class.description}}</p>

	<h2>Overview</h2>
	<!-- bars -->

	<div class="br-wrapper br-theme-bars-movie">
		<div class="bar-group">
			<!-- workload -->
			<h3>Workload</h3>
		 	<select class="bar" id="avgWorkload">
		 		<option value=""></option>
		 		<option value=1>Little</option>
		 		<option value=2>Fair</option>
		 		<option value=3>A lot</option>
		 		<option value=4>Torture</option>
		  	</select>
		</div>

		<!-- difficulty -->
		<h3>Difficulty</h3>
		<div class="bar-group">
			<select class="bar" id="avgDifficulty">
				<option value=""></option>
			    <option value=1>Easy</option>
			    <option value=2>Manageable</option>
			    <option value=3>Difficult</option>
			    <option value=4>Rocket Science</option>
		  	</select>
		</div>

		<!-- grading -->
		<h3>Grading and Leniency</h3>
		<div class="bar-group">
			<select class="bar" id="avgGrad">
				<option value=""></option>
			    <option value=1>GPA Booster</option>
			    <option value=2>Fair</option>
			    <option value=3>Hard</option>
			    <option value=4>Sadistic Curve</option>
		  </select>
	</div>

	<hr>

	<h2>Reviews</h2>
	<!-- review guidelines -->
	<div id="review-guidelines">
		<div class="box">
			<p id="guidelines">Some things to think about while writing your review:</p>
			<ul>
				<li><b>Workload</b> - how much work did you do? How many hours do you spend a week? Is it fair?</li>
				<li><b>Difficulty</b> - was the content of the class hard? How much of the class did you understand?</li>
				<li><b>Grading and Leniency</b> - was the grading fair? How did the curve work?</li>
				<li><b>Tips</b> - how to do well in this class? Does participation matter? Is the textbook useful?</li>
			</ul>
		</div>
	</div>
	<br>

	<!-- submit review -->
	<!-- hide if not logged in -->
	<div id="submit-review" class="wrapper" ng-show="user.email">
		<!-- bars -->
		<div class="br-wrapper br-theme-bars-movie">
			<div class="bar-group">
				<!-- workload -->
				<h3>Workload</h3>
			  	<select class="review" id="workload" ng-model="workload">
			  		<option value=""></option>
			  	    <option value=1>Little</option>
			  	    <option value=2>Fair</option>
			  	    <option value=3>A Lot</option>
			  	    <option value=4>Torture</option>
			  	</select>
			</div>

			<!-- difficulty -->
			<div class="bar-group">
				<h3>Difficulty</h3>
				<select class="review" id="difficulty" ng-model="difficulty">
					<option value=""></option>
					<option value=1>Easy</option>
					<option value=2>Manageable</option>
					<option value=3>Difficult</option>
					<option value=4>Rocket Science</option>

			  	</select>
			</div>

			<div class="bar-group">
				<h3>Grading and Leniency</h3>
				<select class="review" id="grading" ng-model="grading">
					<option value=""></option>
				    <option value=1>Sadistic Curve</option>
				    <option value=2>Hard</option>
				    <option value=3>Fair</option>
				    <option value=4>GPA Booster</option>
			  </select>
			</div>
			<br>

			<!-- forms -->
			<div id="review-form">
				<form novalidate name="review">
					<fieldset>
	        		<input type="text" id="prof" class="form-input grid-item 4/12" placeholder="Instructor" ng-model="prof" required />
					<br>
					<textarea class="form-textarea" rows="8" cols="82" placeholder="Enter your message here" ng-model="text" required></textarea>
					<br>
					<input id="button" type="submit" class="btn btn-primary" value="Save" ng-click="saveReview()" ng-disabled="review.$invalid">
					</fieldset>
	      		</form>
			</div>
		</div>

		</div>
	</div>
	<br>

	<!-- display -->
	<div id="tips" class="wrapper" ng-repeat="review in reviews">	
		<h4>{{review.prof}}</h4>
		<h6>Review by: {{review.user}}</h6>
		<p class="grid-item 3/12">
			Workload: {{review.workload}} <br> Difficulty: {{review.difficulty}} <br> Grading & Leniency: {{review.grading}}
		</p>
		<p class="grid-item 8/12">{{review.text}}</p>
	</div>
</div>