<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="../bower_components/jquery-bar-rating/dist/themes/bars-movie.css">

	<script src="../bower_components/jquery/dist/jquery.min.js"></script>
	<script src="../bower_components/jquery-bar-rating/dist/jquery.barrating.min.js"></script>

	<script type="text/javascript">
	   $(function() {
	      $('.bar').barrating({
	        theme: 'bars-movie'
	      });
	   });
	</script>

	<link rel="stylesheet" href="../css/main.css">

	<title>{{className}} Ratings – Welp</title>

</head>

<body>
	<h1>{{className}}</h1>
	<p class="class-des">{{classDes}}</p>

	<!-- bars -->
	<div class="br-wrapper br-theme-bars-movie">
		<div class="bar-group">
			<!-- workload -->
			<h3>Workload</h3>
		  <select class="bar">
				<option value=""></option>
		    <option value="Little">Little</option>
		    <option value="Fair">Fair</option>
		    <option value="A lot">A lot</option>
		    <option value="Torture">Torture</option>
		  </select>
		</div>

		<!-- difficulty -->
		<h3>Difficulty</h3>
		<div class="bar-group">
			<select class="bar">
				<option value=""></option>
		    <option value="Easy">Easy</option>
		    <option value="Manageable">Manageable</option>
		    <option value="Difficult">Difficult</option>
		    <option value="Rocket Science">Rocket Science</option>
		  </select>
		</div>

		<!-- grading -->
		<h3>Grading and Leniency</h3>
		<div class="bar-group">
			<select class="bar">
				<option value=""></option>
		    <option value="GPA Booster">GPA Booster</option>
		    <option value="Fair">Fair</option>
		    <option value="Hard">Hard</option>
		    <option value="Sadistic Curve">Sadistic Curve</option>
		  </select>
		</div>

	<!-- tips + comments -->
	<div id="tips">
		<!-- read from firebase -->

		<h4>username</h4>
		<h4>instructor</h4>

		<p class="comment">
			this class sucks prof sucks omg
		</p>

	</div>

	</div>

</body>
</html>
