<!-- <link rel="stylesheet" href="bower_components/jquery-bar-rating/dist/themes/fontawesome-stars.css">

<script src="bower_components/jquery-bar-rating/dist/jquery.barrating.min.js"></script>
<script type="text/javascript">
   $(function() {
      $('#example').barrating({
        theme: 'fontawesome-stars'
      });
   });
</script>

<div class="br-wrapper br-theme-fontawesome-stars">
  <select id="example">å
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
  </select>
</div> -->

<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="../css/main.css">
	<title>Welp.</title>

	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

	<link href="../css/main.css" rel="stylesheet" type="text/css" />
</head>

<body>
  <img src="../files/reviews-mockup.png"/>
</body>
</html>
